body {
  margin: 0;
  background: hsl(150, 90%, 62%);
  min-height: 100vh;
  display: grid;
  place-content: 'center';
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.text-input {
  background: hsl(150, 90%, 62%);
  border: none;
  margin-top: 10px;
  font-family: 'Source Sans Pro', monospace;
  width: 60%;
}
.text-input:focus {
  outline: none;
}

.search {
  margin-top: 30vh;
  font-family: 'Source Sans Pro', monospace;
  position: relative;
}

button {
  font-family: 'Source Sans Pro', monospace;
  background-color: rgb(255, 110, 219);
  border-radius: 20%;
}
